body {
  overflow: hidden;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* --------------------- Bootstrap overrides --------------------- */
.main-container {
  --bs-primary: #447da0;
}
.main-container .form-check-input:checked {
  background-color: #447da0;
  border-color: #447da0;
}

.main-container .form-control:focus {
  box-shadow: none;
}
.main-container .btn {
  --bs-btn-border-radius: 0.15rem;
  font-weight: bold;
}
.main-container .btn-primary {
  --bs-btn-bg: #447da0;
  --bs-btn-border-color: #386784;
  --bs-btn-hover-bg: #386582;
  --bs-btn-hover-border-color: #294c61;
  --bs-btn-active-color: rgb(255, 189, 57);
  --bs-btn-active-bg: #2e5c7a;
  --bs-btn-active-border-color: #27455a;
}
.main-container .btn-group-sm > .btn,
.main-container .btn-sm {
  font-size: 1.1rem;
  --bs-btn-padding-y: 0.15rem;
  --bs-btn-padding-x: 0.35rem;
}
.main-container input::-webkit-outer-spin-button,
.main-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-container input[type="number"] {
  -moz-appearance: textfield;
}

/* ------------------- End of Bootstrap overrides ------------------*/

input[type="number"][size] {
  width: 3rem;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.rotate-45::before {
  transform: rotateZ(-45deg);
}
.rotate-90::before {
  transform: rotateZ(90deg);
}

/* ---------------------------- */

#canvas-container {
  position: relative;
  flex: 1;
}

#canvas-container > .top-left {
  position: absolute;
  top: 0;
  left: 0;
}
#canvas-container > .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.panel {
  background-color: var(--bs-body-bg);
  border-bottom: 1px solid #8888;
}

#toolbar .btn-group-vertical button {
  height: 38px;
}

.panel .input-number-drag {
  width: unset;
}

.tool-help-text {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.tool-help-text ul {
  padding-left: 0;
  list-style-position: inside;
  margin-bottom: 0;
}

#tool-grid,
#tool-settings {
  width: 15rem;
}
