/* Bootstrap overrides */
.main-container button {
  --bs-btn-border-radius: 0.15rem;
  font-weight: bold;
}

body {
  overflow: hidden;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#canvas-container {
  position: relative;
}
#canvas-container > .top-left {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.5rem;
}
